.dashboard-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  height: 80vh;
  margin: auto;
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.container {
  width: 25%;
}

.applications-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  align-items: center;
  overflow: hidden;
  margin-bottom: 1rem;
}

.application {
  border: 1px solid var(--accent-colour);
  background-color: var(--background-colour);
  width: 100%;
  height: 5rem;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.header-container.btn-plus {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
}

.modal-form {
  width: 30rem;
  height: 30rem;
}
.modal-contents {
  width: 20rem;
  height: 20rem;
}

.modal-content {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 50%;
  margin-top: 2rem;
}